.bs{
    margin-top: 50px;
    
    box-shadow: 2px 2px 4px 2px rgb(163, 160, 160) ;
}
.sss{
    background: rgb(228, 227, 227);
}
.fff{
    background: rgb(194, 158, 194);
}
.ddd{
    margin-top: 20px;
}
.rrr{
    background: rgb(194, 158, 194);
}
.bx{
    box-shadow: 2px 1px 2px 2px rgb(175, 166, 166);
}